In [63]:
# import the pandas library
import pandas as pd

# import zipfile library (we will use this to extract the file downloaded from Kaggle)
import zipfile

# import kaggle library (we will use this to download the dataset programatically from Kaggle)
import kaggle

In [64]:
# download dataset from kaggle
!kaggle datasets download -d harlfoxem/housesalesprediction

Dataset URL: https://www.kaggle.com/datasets/harlfoxem/housesalesprediction
License(s): CC0-1.0
housesalesprediction.zip: Skipping, found more recently modified local copy (use --force to force download)

In [65]:
zipfile_name = 'housesalesprediction.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [66]:
house_data = pd.read_csv("kc_house_data.csv")

In [67]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [68]:
house_data.shape

(21613, 21)

In [69]:
house_data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [70]:
house_data.waterfront.value_counts()

waterfront
0    21450
1      163
Name: count, dtype: int64

In [71]:
house_data.grade.value_counts()

grade
7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: count, dtype: int64

In [72]:
house_data.view.value_counts()

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [73]:
house_data.condition.value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [74]:
new_cols_dict = {
    'id':'id',
    'date':'date',
    'price':'price',
    'bedrooms':'bedrooms',
    'bathrooms':'bathrooms',
    'sqft_living':'square_feet_living',
    'sqft_lot':'square_feet_lot',
    'floors':'number_of_floors',
    'waterfront':'has_waterfront_view',
    'view':'quality_of_view',
    'condition':'condition',
    'grade':'grade',
    'sqft_above':'sqft_above',
    'sqft_basement':'sqft_basement',
    'yr_built':'year_built',
    'yr_renovated':'year_renovated',
    'zipcode':'zipcode',
    'lat':'lat', 
    'long':'long', 
    'sqft_living15':'sqft_living15',
    'sqft_lot15':'sqft_lot15'
}

house_data.rename(new_cols_dict, axis=1, inplace=True)

In [75]:
# Create dictionaries to map each integer value to a corresponding string

waterfront_dict = {
    '0': False,
    '1': True
}

view_quality_dict = {
    '0': 'None',
    '1': 'Average',
    '2': 'Good',
    '3': 'Excellent'
}

condition_dict = {
    '1': 'Poor',
    '2': 'Fair',
    '3': 'Average',
    '4': 'Good',
    '5': 'Excellent',
}

# updating columns datatypes and mapping new values
house_data.has_waterfront_view = house_data.has_waterfront_view.astype('str')
house_data.has_waterfront_view = house_data.has_waterfront_view.map(waterfront_dict)

house_data.quality_of_view = house_data.quality_of_view.astype('str')
house_data.quality_of_view = house_data.quality_of_view.map(view_quality_dict)

house_data.condition = house_data.condition.astype('str')
house_data.condition = house_data.condition.map(condition_dict)

In [76]:
house_data.head()

,id,date,price,bedrooms,bathrooms,square_feet_living,square_feet_lot,number_of_floors,has_waterfront_view,quality_of_view,...,grade,sqft_above,sqft_basement,year_built,year_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,False,None,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,False,None,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,False,None,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,False,None,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,False,None,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [78]:
# writing the final dataframe to an excel file
house_data.to_excel('kc_house_data_clean_data.xlsx', sheet_name='Data')